.sub-title {
    display: block;
    margin: auto;
}
.isHover:hover{
    /* border: 2px solid #29abe2ff; */
    border-top: 4px solid #0a88beaf;
    border-bottom: 10px solid #0a88beaf;
    border-right: 4px solid #0a88beaf;
    border-left: 4px solid #0a88beaf;
}
.Default-Select {
    border: 2px solid #0a88beaf;
    border-top: 4px solid #0a88beaf;
    border-bottom: 10px solid #0a88beaf;
    border-right: 4px solid #0a88beaf;
    border-left: 4px solid #0a88beaf;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 1;
  }