.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 1;
}

.chart-main {
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.chart-yAis-name{
  width: 0px;
  height: 0px;
  margin: 0px 0px 0px 0px;
  transform: rotate(-90deg);
  /* justify-content: center;
  text-align: center;
  flex: 0 0 100px; */
}

.chart-body{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-chart{
  width: 100%;
}

.chart-lebel{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.chart-footer{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  margin-top: 4px;
}

.chart-box{
  width: 15px;
  height: 15px;
  margin-top: 2px;
}
.chart-title{
  margin-left: 5px;
  font-weight: 500;
}