#show-admin {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#show-admin td, #show-admin th {
  border: 1px solid #ddd;
  padding: 8px;
}

#show-admin tr:nth-child(even){background-color: #f2f2f2;}

#show-admin tr:hover {background-color: #ddd;}

#show-admin th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0a88be;
  color: white;
}