#paramValue {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#paramValue td, #paramValue th {
  border: 1px solid #ddd;
  padding: 8px;
}

#paramValue tr:nth-child(even){background-color: #f2f2f2;}

#paramValue tr:hover {background-color: #ddd;}

#paramValue th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0a88be;
  color: white;
}