#table-show-detail-well {
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
}

#table-show-detail-well td, #table-show-detail-well th {
  border: 2px solid #8c8b8b44;
  padding: 8px;
}
#table-show-detail-well tr:nth-child(odd){background-color: #9c9c9c44;}

/* #table-show-detail-well tr:hover {background-color: #ddd;} */

#table-show-detail-well th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.param-show-well{
  font-weight: 350;
  width: 40%;
}
